<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" id="close" class="close" aria-label="Close" (click)="activeModal.close(0)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="myForm">
    <div class="form-group ml-3">
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          value="R"
          formControlName="typeLaunch"
        />
        <label class="form-check-label" for="typeLaunchRadio1"> Receita </label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          value="D"
          formControlName="typeLaunch"
        />
        <label class="form-check-label" for="typeLaunchRadio2"> Despesa </label>
      </div>
      <div *ngIf="submitted && f['typeLaunch'].errors" class="text-danger">
        <div *ngIf="f['typeLaunch'].errors['required']">
          Tipo de Lançamento Requerido
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="description" class="col-sm-6 control-label"
        >Descrição Lançamento</label
      >
      <div class="col-sm-12">
        <input
          type="text"
          class="form-control"
          name="description"
          id="description"
          placeholder="Descrição Lançamento"
          formControlName="description"
        />
        <div *ngIf="submitted && f['description'].errors" class="text-danger">
          <div *ngIf="f['description'].errors['required']">Descrição Requerido</div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="value" class="col-sm-6 control-label">Tipo Orçamento:</label>
      <div class="col-sm-12">
        <select class="form-control" formControlName="budgetId">
          <option [ngValue]="null" disabled>
            Selecione o Tipo de Orçamento
          </option>
          <option *ngFor="let t of typeBudgets" [ngValue]="t.id">
            {{ t.description }}
          </option>
        </select>
        <div *ngIf="submitted && f['budgetId'].errors" class="text-danger">
          <div *ngIf="f['budgetId'].errors['required']">Orçamento Requerido</div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="value" class="col-sm-6 control-label">Conta do Lançamento:</label>
      <div class="col-sm-12">
        <select class="form-control" formControlName="accountId">
          <option [ngValue]="null" disabled>
            Selecione a Conta do Lançamento
          </option>
          <option *ngFor="let a of accounts" [ngValue]="a.id">
            {{ a.accountName }}
          </option>
        </select>
        <div *ngIf="submitted && f['accountId'].errors" class="text-danger">
          <div *ngIf="f['accountId'].errors['required']">Tipo de Conta Requerida</div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="day" class="col-sm-6 control-label">Data:</label>
      <div class="col-sm-6">
        <input
          class="form-control"
          formControlName="day"
          name="day"
          id="day"
          placeholder="Ex. 00/00/0000"
          type="date"
        />
        <div *ngIf="submitted && f['day'].errors" class="text-danger">
          <div *ngIf="f['day'].errors['required']">Data Requerida</div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="valuePrev" class="col-sm-6 control-label">Valor Previsto:</label>
      <div class="col-sm-6">
        <input
          type="text"
          currencyMask
          class="form-control"
          [options]="{ prefix: '€ ', thousands: '.', decimal: ',' }"
          name="valuePrev"
          id="valuePrev"
          placeholder="Valor Previsto"
          formControlName="valuePrev"
        />
        <div *ngIf="submitted && f['valuePrev'].errors" class="text-danger">
          <div *ngIf="f['valuePrev'].errors['required']">
            Valor Previsto Requerido
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="valueExec" class="col-sm-6 control-label">Valor Executado:</label>
      <div class="col-sm-6">
        <input
          type="text"
          currencyMask
          class="form-control"
          [options]="{ prefix: '€ ', thousands: '.', decimal: ',' }"
          name="valueExec"
          id="valueExec"
          placeholder="Valor Executado."
          formControlName="valueExec"
          (keyup)="handleKeyUp($event)"
        />
        <div *ngIf="submitted && f['valueExec'].errors" class="text-danger">
          <div *ngIf="f['valueExec'].errors['required']">
            Valor Executado Requerido
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" (click)="save(false)">Salvar</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close(0)">Close</button>
</div>
