<header>
  <nav class="
      navbar navbar-expand-sm navbar-toggleable-sm navbar-light
      bg-navFinansys
      border-bottom
      box-shadow
      mb-3
    ">
    <div class="container">
      <div class="col-3 ">
        <a class="navbar-brand text-white title" [routerLink]="['/']">
          <i class="fab fa-foursquare"></i>inansys<i class="fas fa-copyright"></i>ontrol</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
          aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="col-2" *ngIf="isLogged">
        <select class="form-control btnMonth" (change)="changeMonth($event.target['value'])">
          <option [value]="m.id" *ngFor="let m of months" [selected]="monthId == m.id">
            {{ m.name }}
          </option>
        </select>
      </div>
      <div class="col-1"  *ngIf="isLogged">
        <select class="form-control btnMonth" (change)="changeYear($event.target['value'])">
          <option [value]="m" *ngFor="let m of years" [selected]="year == m">
            {{ m }}
          </option>
        </select>
      </div>
      <div class="col-6"  *ngIf="isLogged">
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }">
          <ul class="navbar-nav flex-grow">
            <!-- <li class="nav-item" *ngIf="user">
              <a class="nav-link text-white"
                >Olá {{ user.username | titlecase }}</a
              >
            </li> -->
            <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
              <a class="nav-link text-white" [routerLink]="['/dashboard']"><i class="fa fa fa-bars"></i> Painel</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-white" [routerLink]="['/launch']"><i class="fa fa-credit-card"></i> Lançamento</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-white" [routerLink]="['/budget']"><i class="fa fa-database"></i> Orçamento</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-white" [routerLink]="['/import']"><i class="fa fa-cloud-upload"></i> Importar</a>
            </li>
            <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-end" *ngIf="user != null">
              <a class="nav-link text-white" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button" style="margin-top: 1px;">
                <i class="fa fa-user"></i> {{ user.username | titlecase}}
              </a>
              <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
                <a ngbDropdownItem href="#" (click)="logout(); $event.preventDefault()">Sair</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
