<div class="container" >
  <div class="row">
    <div class="col-8">
      <div class="card">
        <div class="card-header">
            <span class="card-text-header">Painel de Execução Orçamentária
            </span>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <div class="row">
                <div class="col-9">
                  <input
                    [(ngModel)]="searchText"
                    class="form-control"
                    placeholder="Pesquisar:"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </div>
              </div>
            </div>
          </form>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Tipo</th>
                <th scope="col">Valor Previsto</th>
                <th scope="col">Valor Executado</th>
                <th scope="col">Orçamento</th>
                <th scope="col" style="text-align: center">%</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let b of painel
                    | grdFilter: { description: searchText, value: searchText };
                  let i = index
                "
              >
                <td class="d-flex ">
                  {{ b.description }}
                  <div class="add">
                    <i *ngIf="ifAvailableToLaunch(b)" class="fas fa-plus fa-fw add-to-Launch" style="cursor: hand" title="Adicionar aos lançamentos" (click)="addToLaunch(b)"></i>
                  </div>
                </td>
                <td [ngClass]="b.typeBudget === 'R' ? 'line-r' : 'line-d'">
                  {{ b.valuePrev | currency: "EUR":true }}
                </td>
                <td [ngClass]="b.typeBudget === 'R' ? 'line-r' : 'line-d'">
                  {{ b.valueExec | currency: "EUR":true }}
                </td>
                <td [ngClass]="b.typeBudget === 'R' ? 'line-r' : 'line-d'">
                  {{ b.valueOrc | currency: "EUR":true }}
                </td>
                <td>
                  <div class="bar-line">
                    <div class="bar-container " style="text-align: center;" [style]="getPercentualWidth((b.valueExec / b.valueOrc))">
                        <span class="text"> {{ getPercentual((b.valueExec / b.valueOrc)) * 100 | number: "1.2-2" }} %</span>
                    </div>
                </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card resume" >
        <div class="card-header">
          <span class="card-text-header">
            Resumo do Mês de {{getMonthDescription()}}
          </span>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Entradas Executadas</th>
                <td [ngClass]="homeResume?.inBoundsExecuted>0 ? 'line-r' : 'line-d'">{{ homeResume?.inBoundsExecuted | currency: "EUR":true}}</td>
              </tr>
              <tr>
                <th scope="col">Entradas para Executar</th>
                <td [ngClass]="homeResume?.inBoundsExpected>0 ? 'line-r' : 'line-d'">{{ homeResume?.inBoundsExpected | currency: "EUR":true}}</td>
              </tr>
              <tr>
                <th scope="col">Saídas Executadas</th>
                <td [ngClass]="homeResume?.outBoundExecuted>0 ? 'line-d' : 'line-r'">{{ homeResume?.outBoundExecuted | currency: "EUR":true}}</td>
              </tr>
              <tr>
                <th scope="col">Saídas para Executar</th>
                <td [ngClass]="homeResume?.outBoundExpected>0 ? 'line-d' : 'line-r'">{{ homeResume?.outBoundExpected | currency: "EUR":true}}</td>
              </tr>
              <tr>
                <th scope="col">Saldo Atual</th>
                <td [ngClass]="homeResume?.actualBalance>0 ? 'line-r' : 'line-d'">{{ homeResume?.actualBalance | currency: "EUR":true}}</td>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <br>
      <div class="card resume">
        <div class="card-header">
          <span class="card-text-header">
            Planejamento Despesas de {{getMonthDescription()}}
          </span>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Desp. Orçamento</th>
                <td class="line-d">{{ homeResume?.totalExpensesPlanned | currency: "EUR":true}}</td>
              </tr>
              <tr>
                <th scope="col">Desp. Não Planejadas</th>
                <td class="line-d">{{ homeResume?.totalExpensesNotPlanned | currency: "EUR":true}}</td>
              </tr>
              <tr>
                <th scope="col">Despesas Total</th>
                <td class="line-d">{{ homeResume?.totalExpenses | currency: "EUR":true}}</td>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <Br>
      <div class="card resume">
        <div class="card-header">
          <span class="card-text-header">
            Contas
          </span>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr *ngFor="let account of accounts">
                <th scope="col">{{account.accountName}}</th>
                <td [ngClass]="account?.value>0 ? 'line-r' : 'line-d'">{{ account?.value | currency: "EUR":true}}</td>
                <th scope="col" class="account-lastupdate" [title]="getLastDate(account.lastUpdate)">
                  <i [ngClass]="checkLastDateUpdated(account.lastUpdate)? 'fa-regular fa-calendar-minus' :'fa-regular fa-calendar-check'"></i>
                </th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
