.resume td {
    text-align: right;
}

.card-text-header{
  font-weight: 600;
}

.account-lastupdate{
  color: indianred;
}

.bar-line {
  min-width: 50px;
  color: #000;
  background-color: #f1f1f1;
}
.bar-container {
  padding: 0;
  border-radius: 5px;
  animation: color-gradient 25s linear 1;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  min-height: 24px;
  max-width: 100%;
  color: #000;
  transition: 0.4s linear;
  transition-property: width, background-color;
  background:
    linear-gradient(#f1f1f1,#f1f1f1) right/calc(100% - var(--d)) 100% no-repeat,
    linear-gradient(to right, green 30%, yellow 50%, rgb(243, 146, 146) 100%);
}


.add-to-Launch{
  background-color: #48abe0;
    color: white;
    border: none;
    padding: 2px 2px 2px 2px;
    font-size: 7px;
    height: 11px;
    width: 11px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
    cursor: hand;
}

.add {
  display: flex;
    align-items: center;
    margin-left: 3px;
}


