.modal-header {
  background-color: cornflowerblue;
  padding: 16px 16px;
  color: #FFF;
  border-bottom: 2px dashed cornflowerblue;
}

.card-body {
  min-height: 30vh;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}

