.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}

.dark-modal .close {
  color: white;
}

.light-blue-backdrop {
  background-color: #5cb3fd;
}

.title{
  margin-bottom: 0px;
  font-weight: 500;
}

.labelOrc{
  font-weight: 500;
}

.budgetModal{
  max-height: 70vh;
  overflow-y: auto;
}

.alignLast{
  text-align-last: end;
  padding-right: 48px;
}

.table-budget{
  max-height: calc(100vh - 150px);
}
