<div class="container container-fluid">
  <div class="row">
    <div class="col-8">
      <div class="card resume">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-6">Orçamentos</div>
            <div class="col-6">
              <form>
                <div>
                  <div class="row justify-content-center">
                    <div class="col-3">
                      <button (click)="addBudget()" class="btn btn-primary">
                        Adicionar
                      </button>
                    </div>
                    <div class="col-5">
                      <button (click)="showAll()" type="button" class="btn btn-warning text-wrap">
                        {{showAllFields ? "Somente Ativos" : "Mostrar Todos"}}
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="card-body table-budget pre-scrollable">
          <table id="tableBudgets" class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Descrição</th>
                <th scope="col">Valor</th>
                <th scope="col">Meses Config</th>
                <!-- <th scope="col">Tipo</th> -->
                <th scope="col">Ativo</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let budget of budgets">
                <td>{{ budget.description }}</td>
                <td [ngClass]="budget.typeBudget === 'R' ? 'line-r' : 'line-d'">
                  {{ budget.value | currency: "EUR":true }}
                </td>
                <td>{{ getMonth(budget.budgetConfig) }}</td>
                <!-- <td>{{ budget.default ? "Padrão" : "" }}</td> -->
                <td *ngIf="budget.active" class="text-center text-success" (click)="updateStatus(budget)">
                  <i class="fas fa-solid fa-check" style="cursor: pointer"></i></td>
                <td *ngIf="!budget.active" class="text-center text-danger" (click)="updateStatus(budget)">
                  <i class="fas fa-solid fa-circle" style="cursor: pointer"></i></td>
                <td>
                  <span style="cursor: pointer" (click)="getBudgetWords(budget)"><i
                      class="fas fa-solid fa-file-word fa-fw" style="cursor: hand"></i></span>
                  <span style="cursor: pointer" (click)="editBudget(budget)"><i class="fas fa-pen fa-fw"
                      style="cursor: hand"></i></span>
                  <!-- <span style="cursor: pointer" (click)="deleteBudget(budget)"><i class="fas fa-trash fa-fw"
                      style="cursor: hand"></i></span> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card resume">
        <div class="card-header">Indicadores</div>
        <div class="card-body">
          <p style="cursor: pointer;color: blue;" (click)="openIndicator('Orçamento Planejado x Orçamento Executado')">
            Orçamento Planejado x Orçamento Executado</p>
        </div>
      </div>
    </div>
  </div>
